html * {
	font-family: 		'Dejavu Sans', Helvetica, sans-serif;
}

body {
	background-color:	#f7f7f7;
	margin:			0;
	padding:		0;
}

a {
	text-decoration:	none;
	color:			#7f3f3f;
}

a:hover {
	font-style:		italic;
}

.fixed_width {
	color:			#1f1f1f;
	font-family:		'Dejavu Sans Mono', 'Courier 10 pitch', monospace, Courier;
	padding-left:		4px;
	padding-right:		4px;
}

.fixed_width_subtle {
	color:			#7f7f7f;
	font-family:		'Dejavu Sans Mono', 'Courier 10 pitch', monospace, Courier;
	padding-left:		4px;
	padding-right:		4px;
}
.parent_table {
	border:			1px dashed #7f7f7f;
	margin-top:		3px;
	margin-left:		auto;
	margin-right:		auto;
	width:			95%;
	height:			100%;
	background-color:	#fcfcfc;
	padding:		1em;
}

.title {
	font-size:		3em;
	text-align:		center;
}
.subtitle {
	font-size:		1.5em;
	text-align:		center;
}

.explain_action {
	font-size:		1em;
	text-align:		right;
	color:			#7f7f7f;
}

.welcome_message {
	color: 			#3f1f1f;
	font-size:		1.1em;
	padding:		5px;
}

.welcome_body {
	font-size:		1em;
}

.form_body {
	border:			1px solid #dfdfdf;
	background-color:	#fcfcfc;
	padding:		3px;
	width:			100%;
}

.form_left_column {
/* 	border:			1px solid red; */
	width: 			20%;
}

.form_center_column {
/* 	border:			1px solid blue; */
	width: 			60%;
}

.form_right_column {
/* 	border:			1px solid purple; */
	width: 			20%;
}

.form_eide_right_column {
/* 	border:			1px solid purple; */
	width: 			80%;
}

.form_wide_column {
/* 	border:			1px solid yellow; */
	width: 			100%;
	text-align:		center;
	font-size:		1.2em;
}

.embedded_table {
/* 	border:			1px solid red; */
	width:			100%;
}

.help_links {
	text-align:		right;
}

.note {
	border:			1px dashed blue;
	background:		#dfdfef;
	padding:		1em;
	margin:			1em;
}
